# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# SQLite database
*.db
*.sqlite3

# Environment variables
.env

#Macos files
.DS_Store

# IDE and editor settings
.idea/
.vscode/
*.swp


